.reset-btn{
    background:rgb(9, 130, 243);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
}